body{
    margin: 0;
    background-color: #785DE4;
    font-family: sans-serif;
}

.container{
    width: 960px;
    margin: 0 auto;
}

header{

    text-transform: uppercase;
}

.tableContainer{
    display: table;
    width: 100%;
    height: 100%;
    padding-top: 10px;
}

.top{
    display: table-row;
    height: 75px;
}

.tableCell{
    display: table-cell;
    vertical-align: middle;
    text-align: right;
}

.logo{
    text-align: left;
}

.search{
    background-image: url(img/search1.png);
    background-repeat: no-repeat;
    background-position: 100% center;
}

.searchField{
    margin-right: 26px;
}

.searchIcon{
    display: inline-block;
}

.search input{
    border-top: 2px outset black;
    border-left: 2px outset black;
    border-bottom: none;
    border-right: none;

    border-radius: 4px;
    height: 27px;
    background-color: #2A2A2A;

}

.contacts{
    color: #B5B5B5;
}

.nav{
    background-color: white;
    border-radius: 4px;
    box-shadow: 2px 2px 20px black;
}

.nav ul{
    margin-top: 5px;
    padding-left: 0;
    vertical-align: middle;


}

.nav li{
    display: inline-block;
    width: auto;
    padding: 16px 45px;
    text-transform: uppercase;
    font-size: 11px;

    border-right: 1px solid black;
    margin-left: -10px;

    transition: transform .5s;
}

.nav li.six, li.one{
    border-right: none;
}

.nav a{
    color: black;
    text-decoration: none;
}

.nav li:hover{
    transform: translate(1px, 1px);
}

.nav a.one{
    padding: 10px 30px;
    margin-left: 0;
    color: white;
    background-color: #2A2A2A;
    border-radius: 5px;
}

.nav li.one{
    padding: 0 22px;
}

.slider{
    background-image: url("http://phoenix-dnr.ru/images/mobile_slide_1.png");
    width: 960px;
    height: 373px;
    background-position: -17px -2px;
}

.girl{
    background-image: url("http://phoenix-dnr.ru/images/mobile.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position: 175px 0;
}

/*--------------------------------------------------------------------------------------------------------------------*/
.main_menu{
    float: left;
    width: 23.9%;
    margin-right: 10px;
    height: 270px;
    border-radius: 5px;
    box-shadow: 3px 3px 4px black;
    background-color: #fff;
}

.main_menu .list_head{
    margin: 15px;
    margin-left: 27px;
    padding-left: 13px;
    font-size: 21px;
    height: 60px;
    font-weight: bold;
    color: #303030;
    background-image: url("http://phoenix-dnr.ru/images/angle.png");
    background-repeat: no-repeat;
    background-position: 0 10px;
    box-shadow: 0px 1.6px 1.7px 0px rgba(50, 50, 50, 0.2);
}

.main_menu ul{
    padding-right: 5px;
}

.main_menu li{
    list-style-image: url("http://phoenix-dnr.ru/images/angle_2.png");
    margin-bottom: 9px;
}

.main_menu a{
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: #2277FF;
}

.menu{
    width: 960px;
    height: 270px;
    display: block;
    margin-bottom: 20px;
}
/*--------------------------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------------------------------*/
.about_rel{
    position: relative;
}

.about_rel a{

}

.about_img{
    clear: both;
    padding: 20px 35px 20px 0;
    border-right: 1px solid #b7b7b7;
}

.about{
    width: 278px;
    position: absolute;
    top: 6px;
    right: 6px;
}

.about a{
    float: right;
    text-transform: uppercase;
    font-size: 11px;
    color: darkslategray;
}

.about p{
    font-size: 12px;

}

.inline{
    display: inline-block;
}
/*--------------------------------------------------------------------------------------------------------------------*/